.tengah-layar {
    display: flex;
    justify-content: center; /* tengah horizontal */
    align-items: center;     /* tengah vertikal   */
    height: 100vh;           /* tinggi satu layar */
}

.pojok-kiri-bawah {
    position: fixed;   /* menempel ke layar */
    bottom: 0;         /* pojok bawah */
    left: 0;           /* pojok kiri */

    margin: 20px;      /* jarak dari tepi layar (opsional) */
}

.pojok-kanan-bawah {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}


.garis-vertikal {
    width: 1px;          /* tebal garis */
    height: 70px;        /* tinggi garis */
    background-color: #acacac;
}