/* =========================
   BACKGROUND  
   ========================= */
body {
  background-color: #323232; /* hitam */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  /* Gradient hitam 100% ke hitam 90% */
  background: linear-gradient(to right, 
  #000000 0%, 
  #000000 1%, 
  #323232 4%,
  #323232 100%);
}

/* =========================
   FONT - PANGGIL
   ========================= */
@font-face {
  font-family: "AlternateGhothic";
  src: url("../font/Alternate Gothic No3 D Regular.otf") format("opentype");
}
@font-face {
  font-family: "SegoeUI";
  src: url("../font/Segoe UI.ttf") format("truetype");
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../font/PlayfairDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Calibri";
  src: url("../font/calibri-regular.ttf") format("truetype");
}

/* =========================
   FONT - PAKAI
   ========================= */
.judul-00 {
  font-family: "AlternateGhothic", sans-serif;
  font-size: 82px;
  color: #FFFFFF;
}
.judul-01 {
  font-family: "Calibri", arial;
  font-size: 34px;
  color: #8ee529;
}
.judul-02 {
  font-family: "Calibri", arial;
  font-size: 30px;
  color: #8ee529;;
}
.paragraf-00 {
  font-family: "SegoeUI", serif;
  font-size: 18px;
  color: #FFFFFF;
}
.paragraf-01 {
  font-family: "PlayfairDisplay", serif;
  font-size: 16px;
  color: #FFFFFF;
}
.biru-01 {
  font-family: "Calibri", arial;
  font-size: 34px;
  color: #2987e5;
}
.biru-02 {
  font-family: "Calibri", arial;
  font-size: 14px;
  color: #2987e5;
}
.huruf-kecil-01 {
  font-family: "PlayfairDisplay", serif;
  font-size: 13px;
  color: #FFFFFF;
}
